{% extends "layout.html" %}
{% block content %}
                <ul class="inline">
                    <li><h1>{% block title %}{{ post.subject }}{% endblock %}</h1></li>
                    {% if not post.visible %}<li><h4>(Hidden)</h4></li>{% endif %}
                </ul>
                {{ post.body }}
                {% if user.is_staff or user == post.created_by %}
                <a href="{% url "posts.views.edit" post_id=post.pk %}">Edit</a> |
                <a href="{% url "posts.views.delete" post_id=post.pk %}">Delete</a><br><br>
                {% endif %}
                {% if post.comments.count > 0%}
                Comments:<br>
                {% for comment in post.comments.all %}
                    {{ comment.body }}<br>
                {% endfor %}
                <br>
                {% endif %}
                <div class="clear-fix">
                    <b>Add Comment</b>
                    <form action="{% url "comments.views.new" post_id=post.pk %}" method="post" class="form-horizontal">
                    {% include 'comments/form_inline.html' %}
                        <div class="control-group">
                            <input type="submit" value="Submit Comment"></p>
                        </div>
                    </form>
                </div>
{% endblock %}

